.card {
    border: 1px solid;
    border-color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: justify;
    max-width: 75%;
    margin: auto;
    margin-bottom: 10px;
}

.card_body{
    max-width: 80%;
    margin: auto;
}
.title {
    text-align: center;
}

.paragraph{
    text-align: justify;
}

.field{
    font-weight: bold;
}
